<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
              <center><div class="alert alert-success" role="alert"><h1>ARYABHARATHI POLYTECHNIC</h1><h4>
SRI H.M.G ROAD, SARASWATHIPURAM,TUMKUR-572105 <span class="badge badge-secondary"></h4>
                    <h3>Student Database</h3></center>
                   <br><center><img src="static/images/images.png" width="300" height="350"></center>
{% endblock %}
