<!-- app/templates/admin/departments/department.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_branch %}
        Add Branch
    {% else %}
        Edit Branch
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_branch %}

<div class="alert" style="background-color:#FF8C00"><h3 style="text-align
        <div class="alert alert-success" role="alert"><h3 style="text-align:center;">Add Branch</h3></div>

</div>
            {% else %}
<div class="alert alert-success" role="alert">                
<h3><center>Edit Branch</center></h3></div>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
