<!-- app/templates/admin/departments/department.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_library %}
        Add Book
    {% else %}
        Edit Book
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
<div class="col-md-12">
            {% if add_library %}
         <div class="alert alert-success" role="alert">        
<h3>Add Book</h3>
</div>
            {% else %}
       <div class="alert alert-success" role="alert">          
<h3>Edit Book</h3>
</div>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
